@import "../themes/light";
/* mixins */
@mixin breakpoint($point) {
	@media (max-width: $point + "px") { @content ; }
}

/* vars */
:host {
	--color--black: #191919;

	--color--grey-90: #1C1D1F;
	--color--grey-80: #2D2E2F;
	--color--grey-70: #3D4551;
	--color--grey-60: #565C65;
	--color--grey-50: #71767A;
	--color--grey-40: #8D9297;
	--color--grey-30: #A9AEB1;
	--color--grey-20: #C6CACE;
	--color--grey-10: #DFE1E2;
	--color--grey-5: #EDEFF0;
	--color--grey-4: #F1F3F6;
	--color--grey-3: #F5F6F7;
	--color--grey-2: #F7F9FA;
	--color--grey-1: #FBFCFD;

	--color--teal-4: #EAFBFF;
	--color--teal-10: #C0EEF9;
	--color--teal-20: #9EDEEE;
	--color--teal-30: #84CDDF;
	--color--teal-40: #50ACC3;
	--color--teal-50: #0097BD;
	--color--teal-60: #006D88;
	--color--teal-70: #00576C;

	--color--violet-4: #fef2ff;
	--color--violet-50: #be32d0;
	--color--violet-60: #93348c;
	--color--violet-70: #711e6c;
	 align-items:center;
	 justify-content:center;
	 --wrapper-grid-template-areas: 'leftScroll leftScroll' 'leftList leftList' ;
--wrapper-grid-template-rows:1% 99%;
  

}
html,
body,
.page2 {
  height: 100%;
  margin: 0;
}
*{
	
  padding: 0;
  margin: 0;
	/* page */
	// height: 100%;
 // margin: 0;
 
//background-color: lightblue;
box-sizing: border-box;

/* left */

//display: flex;
 //flex-flow: column nowrap;
/* overflow: auto;
 */
}
.page2 {
  
  	background-color: black;
	display: grid;
	 
	//width: 100vw;
	
  height: 100vh;

  
	grid-template-areas: var(--wrapper-grid-template-areas) ;
	grid-template-rows: var(--wrapper-grid-template-rows);		
}
/*
.main-grid-wrapper{
	
  /*  box-sizing: border-box;
	display: flex;
 flex-flow: column nowrap;
 
 //display: flex;
 // flex-flow: column nowrap;
  overflow: auto;
 
}
*/
.main-grid {
/*probably unnecessary start*/
/*
display: flex;
 flex-flow: column nowrap;
 overflow: auto;
 */
 /*probably unnecessary end*/
  	 
	   display: flex;
  

  
}
.left-search{
	grid-area: leftSearch;
	  background-color: green;
	 
}

.scroll{
	grid-area: leftScroll ;
	background-color: #77fc03;	 
	
	//flex:auto;
}


.area-wrapper{
	grid-area: leftList ;
	  display: flex;
  flex-flow: column nowrap;
 
 /* flex-flow: column nowrap;
  overflow: auto;
 */
 
  background-color: lightblue;

	
}
.list-wrapper{
display:flex;
 flex:1;
 overflow: auto; 
}


 
.contentsub {
flex-grow: 1;
  margin: 1rem;
  overflow-y: scroll;
  background-color: orange;
 
} 
 
.paginator-wrapper{
	grid-area: leftPaginator;
	//display: flex;
	//flex-grow: 1;
	//flex-flow: column nowrap;
	  background-color: blue;
	  /*
	    display: grid;
    grid-template-areas: "actions" "statusbar" ;
   
	grid-template-rows: 50% 50%;
	*/
}




/*
:host(body) {
	//background: var(--color--grey-1);
	color: var(--color--black);
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 2em;
	 align-items:center;
	 justify-content:center;

}
:host(.container){
	  margin-bottom: 20px;
  height: 700px;
}

.wrapper2 {
	   display: flex;
		//border: 3px solid black;
		height:100vh;
	 flex-direction: column;
		max-height: 99vh;
    
  
}
.footer2 {
	height: 6%;
  background: red;
}
.footer3 {
	height: 16%;
  //background: red;
}
.body2 {
	border: 3px solid green;
	height: 99vh;
	overflow-y: auto;
	
    
}
.contacts-wrapper{
	display: flex;
	flex-flow:  wrap;
	flex-direction: column;
	list-style: none;
}
*/
.scroll {
    width: 100%;
    height: 4px;
    background-color: lightgray;
}

.scroll-bar {
    width: 0%;
    height: 4px;
    background-color: black;
}
/*
.body2::-webkit-scrollbar {
    display: none;
}
*/
/* Hide scrollbar for IE, Edge and Firefox */
.body2{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (min-width: 30rem) {
   /*:root {
       --left-grid-template-areas:"leftSearch leftSearch leftSearch" "leftScroll leftScroll leftScroll" "leftList leftList leftList" "leftPaginator leftPaginator leftPaginator";
    }
	*/
   /*.wrapper {
   
  }
  */
  .left-paginator {
    /*display: grid;
    grid-template-areas: "actions" "statusbar" ;
   
	grid-template-rows: 50% 50%;
	*/
  }
}