 /* FULL_SCREEN_OVERLAY_START */
.container {
	position: absolute;
	width: 100%;	
	left: 0;
	top: 0;
	/* background: rgba(51,51,51,0.7); */
	border-style: solid;
	border-color: red;
	//border-width: 8px;
	box-sizing: border-box;
	display:flex;
	height: 100%;
	overflow:hidden;
}
/* FULL_SCREEN_OVERLAY_END */

:host {
    --wj-border-width: 0 0 1px 0;
    --wj-item-background: transparent;
    --wj-item-background-hover: var(--wj-color-contrast-3); //#{$color-contrast-lower};
    --wj-item-padding-top: 0px;
    --wj-item-padding-bottom: 0px;
    --wj-item-padding-end: 0px;
    --wj-item-padding-start: 0px;
    --wj-item-inner-border-width: 0 0 1px 0;
    --wj-item-inner-padding-top: 0px;
    --wj-item-inner-padding-bottom: 0px;
    --wj-item-inner-padding-start: 0px;
    --wj-item-inner-padding-end: 0px;
    --wj-item-inner-box-shadow: none;
    --wj-item-min-height: 40px;
    --wj-item-transition: opacity 15ms linear, background-color 15ms linear;
    display: block;
    position: relative;
    align-items: center;
    justify-content: space-between;
    outline: none;
    color: var(--wj-item-color);
    text-align: initial;
    text-decoration: none;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}


.item-native {
    border-radius: var(--wj-item-border-radius);
    padding-top: var(--wj-item-padding-top);
    padding-bottom: var(--wj-item-padding-bottom);
    padding-inline: var(--wj-item-padding-start) var(--wj-item-padding-end);
    margin: 0;
    display: flex;
    position: relative;
    align-items: inherit;
    justify-content: inherit;
    width: 100%;
    min-height: var(--wj-item-min-height);
    transition: var(--wj-item-transition);
    outline: none;
  /*  background: var(--wj-item-background); */
    overflow: inherit;
    box-sizing: border-box;
//z_index_cancelled
 //   z-index: 1;
    text-decoration: none;
    color: var(--wj-item-color);

    .item-inner {
        margin: 0;
        padding: var(--wj-item-inner-padding-top) var(--wj-item-inner-padding-end) var(--wj-item-inner-padding-bottom) var(--wj-item-inner-padding-start);

        display: flex;
        position: relative;

        flex: 1 1 0;
        flex-direction: inherit;
        align-items: inherit;
        align-self: stretch;

        min-height: inherit;

        border-width: var(--wj-border-width);
        border-style: var(--wj-border-style);
        border-color: var(--wj-border-color);

        box-shadow: var(--wj-item-inner-box-shadow);
        overflow: inherit;
        box-sizing: border-box;

        .input-wrapper {
            display: flex;
            flex: 1 1 0;
            flex-direction: inherit;
            align-items: inherit;
            align-self: stretch;
            text-overflow: ellipsis;
            overflow: inherit;
            box-sizing: border-box;
        }
    }

    .item-bottom {
        padding: 0 var(--wj-item-inner-padding-end) 0 var(--wj-item-padding-start);
        display: flex;
        justify-content: space-between;
    }
}

@media (any-hover: hover) {
    :host(:hover) .item-native {
        color: var(--wj-item-color);

        :after {
            transition: var(--wj-item-transition);
            z-index: -1;
            inset: 0;
            position: absolute;
            content: "";
           /* background: var(--wj-item-background-hover); */
            opacity: 0.7;
        }
    }
}

button,
a {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

::slotted([slot="start"]) {
    margin-inline: 0 1rem;
}

::slotted(wj-label:not([slot="end"])) {
    flex: 1 1 0;
}
:host(.hide){
	display:none;
}