/*
[ WJ Card - Header ]
*/
@import "../themes/light";
:host {
  --wj-card-header-padding: 1rem 1rem 0.5rem;
  background: transparent;
  border-radius: 0;
  border-bottom: 0;
  padding: var(--wj-card-header-padding);
  position: relative;
  display: flex;
  flex-direction: column;
}

:host(.wj-separator):after {
  content: "";
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  margin-top: .5rem;
}