 /* FULL_SCREEN_OVERLAY_START */
.container {
	position: relative;
	width: 100%;	
	left: 0;
	top: 0;
	background: rgba(51,51,51,0.7);
//	border-style: solid;
//	border-color: red;
//	border-width: 8px;
//	box-sizing: border-box;
//	display:flex;
	height: 100%;
}
/* FULL_SCREEN_OVERLAY_END */

.paginator{
	display: grid;
	height:100%;
	grid-template-areas: "actions" "statusbar" ;

	grid-template-rows: 55% 45%;
}
		
.paginator-actions{
	grid-area: actions;
	display:flex;
	background-color: #f5ef42;
}
.paginator-status{
	grid-area: statusbar;	
	background-color: #72f542;
	display: inline-flex;
}
.itemsPerPage{
	display: inline-flex;
	&:not(:first-child)  {
 border-left:1px solid #000;
padding: 1px 10px 1px 10px;
	}
	&:first-child  {
 
	padding: 1px 10px 1px 10px;
	}
	 }
	
.button1{
	width:20%;
	
}
