@import "../themes/light";
/*
[ WJ Breadcrumbs ]
*/

:host {
  --wj-breadcrumb-a: var(--wj-color-contrast-high);
  --wj-breadcrumb-a-hover: var(--wj-color-contrast-medium);
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  line-height: 1.5;
}

:host(.collapsed) {
  display: none;
}
.native-breadcrumb {
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  background: inherit;
  padding: .25rem .75rem;
  color: var(--wj-breadcrumb-a);
  text-decoration: none;
  &.hidden {
    display: none;
  }
  &.active {
    font-weight: bold;
  }
  &:hover {
    color: var(--wj-breadcrumb-a-hover);
  }
}

button {
  margin-inline: .75rem;
  border: 0 solid transparent;
  border-radius: 3px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.separator {
  display: inline-flex;
  align-items: center;
}

::slotted([slot="start"]) {
  margin-inline: 0 .5rem;
}

::slotted([slot="end"]) {
  margin-inline: .5rem 0;
}