/*
[ WJ Img ]
*/

img {
  display: block;
  width: var(--wj-img-width, 100%);
  height: var(--wj-img-height, auto);
  max-width: 100%;
  object-fit: inherit;
  border-radius: var(--wj-img-border-radius, 0);
}