/*
[ WJ Header ]
*/
@import "../themes/light";
:host {
    --wj-header-background: var(--wj-background);
    --wj-header-border-color: var(--wj-border-color);
    --wj-header-border-width: 0 0 1px 0;
    --wj-header-border-style: solid;
    --wj-header-top: 0;
    --wj-header-height: 60px;
    display: block;
    height: var(--wj-header-height);
    width: 100%;
    background: var(--wj-header-background);
    border-width: var(--wj-header-border-width);
    border-style: var(--wj-header-border-style);
    border-color: var(--wj-header-border-color);
    .native-header {
        display: flex;
        padding-inline: 1rem;
    }
}

:host([sticky]) {
    position: sticky;
    top: var(--wj-header-top);
    z-index: 999;
}