/*
[ WJ Card - Title ]
*/
@import "../themes/light";
:host {
  --wj-card-title-font-size: 24px;
  --wj-card-title-font-weight: 500;
  --wj-card-title-margin: 0;
  --wj-card-title-padding: 0;
  --wj-card-title-line-height: 1.2;

  font-size: var(--wj-card-title-font-size);
  font-weight: var(--wj-card-title-font-weight);
  margin: var(--wj-card-title-margin);
  padding: var(--wj-card-title-padding);
  line-height: var(--wj-card-title-line-height);
  display: block;
  position: relative;
}