@import "../scss/themes/net-basic/important.scss";

/*
[ WJ Toggle ]
*/
@import "../themes/light";
:host(.wj-color-primary) {
  --wj-toggle-color-base: var(--wj-color-primary);
}

:host(.wj-color-complete) {
  --wj-toggle-color-base: var(--wj-color-complete);
}

:host(.wj-color-success) {
  --wj-toggle-color-base: var(--wj-color-success) !important;
}

:host(.wj-color-warning) {
  --wj-toggle-color-base: var(--wj-color-warning);
}

:host(.wj-color-danger) {
  --wj-toggle-color-base: var(--wj-color-danger);
}

:host(.wj-color-info) {
  --wj-toggle-color-base: var(--wj-color-info);
}

:host {
  --wj-toggle-color-base: var(--wj-color-contrast-3);
  --wj-toggle-width: 30px;
  --wj-toggle-height: 18px;
  --wj-toggle-border-radius: 50px;
  --wj-toggle-handle-width: 14px;
  --wj-toggle-handle-height: 14px;
  --wj-toggle-handle-border-radius: 9px;
  --wj-toggle-handle-color: #fff;
  --wj-toggle-handle-shadow:  1px 0 1px 0.5px rgba(0,0,0,0.12), 2px 4px 6px rgba(0,0,0,0.2);
  --wj-toggle-handle-shadow-checked:  1px 1px 0 rgba(0,0,0,0.08), -3px 3px 6px rgba(0,0,0,0.3);
  --switch-duration: 250ms;
  --switch-curve: cubic-bezier(.4,0,.2,1);
}

.native-toggle {
  display: flex;
}
label {
  display: flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
  .label-wrapper {
    width: var(--wj-toggle-width);
    height: var(--wj-toggle-height);
    position: relative;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      top: auto;
      left: 0;
      background: var(--wj-toggle-color-base);
      background-size: 300%;
      background-position: right;
      border-radius: var(--wj-toggle-border-radius);
      border: none;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12);
      transition: background calc(var(--switch-duration) + (var(--switch-duration) * 0.24)), box-shadow var(--switch-duration);
      transition-timing-function: var(--switch-curve);
    }
    &:after {
      content: "";
      position: absolute;
      transform: translateX(0%);
      background: var(--wj-toggle-handle-color);
      width: var(--wj-toggle-handle-width);
      height: var(--wj-toggle-handle-height);
      border-radius: var(--wj-toggle-handle-border-radius);
      top: auto;
      left: 2px;
      box-shadow: var(--wj-toggle-handle-shadow);
      transition: transform, box-shadow;
      transition-duration: var(--switch-duration);
      transition-timing-function: var(--switch-curve);
    }
  }
}
input[type="checkbox"][disabled] {
  & + label {
    cursor: not-allowed !important;
    color: var(--wj-color-contrast-9);
    opacity: 0.58;

    &:before {
      cursor: not-allowed !important;
    }
  }
}
input[type="checkbox"]{
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked{
    & + label {
      .label-wrapper:before {
        background-position: left;
        box-shadow: inset 0 0 0 1px rgba(0,0, 0,0.12);
      }
      .label-wrapper:after{
        transform: translateX(calc(var(--wj-toggle-width) - var(--wj-toggle-handle-width) - 4px));
        box-shadow: var(--wj-toggle-handle-shadow-checked);
      }
    }
  }
  &:focus {
    & + label {
      .label-wrapper:before{
        outline: none !important;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12), 0 0 0 0 #78c8fe;
      }
    }
  }
  &[disabled]:active{
    & + label {
      .label-wrapper:after {
        transform: scaleX(1.1);
        transform-origin: center left;
        transition: transform step-start;
      }
    }
  }
  &:checked{
    &[disabled]:active{
      & + label {
        .label-wrapper:after{
          transform: translateX(calc(100% - 6px)) scaleX(1.1);
          transform-origin: center right;
        }
      }
    }
  }
  &:hover{
    &:active{
      & + label {
        .label-wrapper:before{
          background-color:transparent;
        }
      }
    }
  }
}

:host .text {
  margin-inline: .5rem 0;
}